{
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "overrides": [{ "files": "*.html", "options": { "printWidth": 200 } }],
  "trailingComma": "es5",
  "bracketSameLine": true
}
